APP_ORIGIN=http://localhost:3000
LM_BASE_URL=http://host.docker.internal:1234/v1
LM_MODEL_ID=
APP_TIMEZONE=UTC
LM_TIMEOUT_SECONDS=120
LM_CONTEXT_TOKENS=8192
LM_OUTPUT_TOKENS=2048
DIAGNOSTIC_RETENTION_DAYS=7
RUN_LOG_RETENTION_DAYS=30
